@tailwind base;
@tailwind components;
@tailwind utilities;

/* Technical scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #09090b; }
::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 0px; }
::-webkit-scrollbar-thumb:hover { background: #52525b; }

:root {
  color-scheme: dark;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background-color: #09090b;
  color: #e4e4e7;
}

.aspect-video { aspect-ratio: 16 / 9; }
